#deadplayerimg{
    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 50vw;
    top: 41vh;
}

.jumpimg{
    width: 13%;
    height: 13%;
}
#smirkminiondiv{
    position: relative;
    top: 35%;
    padding: 0;
    margin: 0;
}