@font-face{
  font-family: 'VT323', monospace;
  src: url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
}
button{
  font-family: 'VT323', monospace
}
html{
  
  font-family: 'VT323', monospace;
}
body {
  background-color: rgb(60, 141, 60);
  overflow: hidden;
  margin: 0;
}

h3{
  color: black;
}
/*//////////*/
/*loign/regiester*/
/*//////////*/

.startDiv{
  position: absolute;
height: 97vh;
width: 98vw;
}
.startcontainer{
  position: relative;
  text-align: center;
}

input{
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3%;
  width: 50%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 4vh;
}

label{
  display:grid;
  position: relative;
  text-align: left;
  left: 25%;
  
}
.submit{
  height: 4vh;
  width: 7vw;
  position: relative;
  background-color: rgb(68, 67, 67);
  border-radius: 15%;
  border: none;
  color: rgb(217, 219, 221);
}
.submit:active{
  
  top: 0.15vh;
  opacity: 0.5;
}
button:focus{
  outline: none;
}
.startlinks{
  position: fixed; 
  color: rgb(128, 130, 133);
  left: 90%;
  height: 6vh;
  width: 10vw;
  padding-top: 1vh;
  text-decoration: none;
  font-size: 120%;
  
}
.startlinks:hover{
  color: rgb(217, 219, 221);
  background-color: black;
  border-radius: 5%;
}
.startlinks:active{
  color: rgb(183, 185, 185);
  background-color: rgb(27, 27, 27);
}
.navbar{
  position: relative;
  width: 120%;
  height: 7vh;
  background-color: rgb(58, 52, 52);
}

.water {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1.5vw;
  height: 3vh;
}
.tree{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1.5vw;
  height: 3vh;
}
.treeimg{
  width: 1.5vw;
  height: 3vh;
}
.grass {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1.5vw;
  height: 3vh;
}
.minion {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1.5vw;
  height: 3vh;
}
.minionDiv{
  position: fixed;
  top: 0;;
  left: 0;
  
}

#enemie {
  width: 3.90625vw;
  height: 8.19672131147541vh;
  background: url("../../backend/resoruces/images/Character2/Run.png") left
    center;
  background-size: cover;
  animation: playRun 1.5s steps(6) infinite;
  display: inline-block;
  
}
#enemie:active {
  background: url("../../backend/resoruces/images/Character2/Take Hit.png") left
    center;
  animation: playTakeHit 0.1s steps(4);
}
#deadenemie{
  background-size: cover;
  width: 3.90625vw;
  height: 8.19672131147541vh;
  display: inline-block;
  background: url("../../backend/resoruces/images/Character2/Death.png")left center;
  animation: deathAnimation 1s steps(8);
}

@keyframes deathAnimation {
  100%{
    background-position:31.25vw ;
  }
}

@keyframes playTakeHit {
  100% {
    background-position: 15.625vw;
  }
}

@keyframes playRun {
  100% {
    background-position: 23.4375vw;
  }
}

/*//////////*/
/*  player  */
/*//////////*/

#playerValues {
  position: absolute;
  top: 66vh;
  left: 3vw;
}
.playertag{
  font-weight: bold;
  margin: 0;
}
#startButton {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  top: 480px;
}
#startButton:disabled {
  background-color: red;
}
.iconButtons {
  position: absolute;
  width: 9.4vw;
  height: 9vh;
  background-color: rgb(56, 55, 55);
  color: rgb(56, 55, 55);
}
button.iconButtons {
  outline: none;
  border: none;
}
img.iconButtons {
  display: block;
  border: solid 0.5vh rgb(56, 55, 55);
  border-radius: 5%;
  z-index: 1;
  top: -0.5vh;
  left: 0;
}
.iconButtons:hover{
  animation: blink normal 1s infinite ease-in-out;
  
}
.iconButtons:active {
  top: 0.15vh;
  opacity: 0.5;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/*//////////*/
/*ingameMenu*/
/*//////////*/

.menubutton{
  width:15vw;
  height: 7.5vh;
  background-color: rgb(158, 233, 47);
  border-radius: 12%;
  font-size: 120%;
}

.menubutton:hover{

  animation: blink normal 1s infinite ease-in-out;
}


#inGameMenu{
  text-align: center;
  position: absolute;
  width: 24vw;
  height: 80vh;
  left: 75vw;

}
.menubuttondiv{
  margin: 15%;
}
#menuImgHolder{
  position: relative;
  left: 45%;
  top: 15%;
  width: 7.8125vw;
  height: 16.39344262295082vh;
  background: url("../../backend/resoruces/images/Character2/ingameidle.png") left
    center;
  animation: playidlemenu 2.2s steps(16) infinite;
}
@keyframes playidlemenu{
  100% {
    background-position: 125vw;
  }
}
#resetButton{
  background-color: greenyellow ;
  position: relative;
  border-radius: 15%;
  font-size: 120%;
  width:15vw;
  height: 7.5vh;
  left: 41%;
  top: 50%;
}


/*//////////*/
/*PopUp*/
/*//////////*/
.popUp{
  position: absolute;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 48%;
  text-align: center;
  top: 55vh;
  height: 20vh;
  width: 13vw;
  left: 77vw;
  opacity: 0.4;
}

#gameoverDiv{
  position: absolute;
  display: block;
  background-color: rgb(23, 48, 19);
  opacity: 0.9;
  top: 5%;
  left: 10%;
  height: 80%;
  width: 80%;
}
#gameoverTag{
  position: relative;
  top: 35%;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  
}

#infoDiv{
  position: absolute;
  display: block;
  background-color: rgb(23, 48, 19);
  opacity: 0.9;
  top: 20%;
  left: 30%;
  height: 45%;
  width: 40%;
}
.infoButton{
  position: relative;
  left: 25%;
  top: 0%;
  background-color: greenyellow ;
  border-radius: 15%;
  font-size: 120%;
  width:10vw;
  height: 5.5vh;
}
.infoButton:hover{
  animation: blink normal 1s infinite ease-in-out;
}
.infoTag{
  color: aliceblue;
  text-align: center;
  position: relative;
  top: 10%;
  font-size: 85%;
}
.infoIcon{
  position: relative;
  top: 3vh;
  left: 42%;
  width: 6vw;
}


/*//////////*/
/*Effects*/
/*//////////*/
/*https://www.deviantart.com/allforn/art/Pixel-lightning-630056321 ---- lighting effect source*/
.specialEffects {
  position: absolute;
  display: block;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}
#earthquake{
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

#demonEffects {
  background-color: rgb(78, 6, 78); 
  opacity: 0.6;
}
#demonEffect{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  animation: slide-left 0.5s;
}
@keyframes slide-left {
  from{
    left: 100%;
  }
  to{
left: 0;
  }
}