.water{
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;    
}
.grass{
background-color: green;
position: absolute;
top: 0px;
left: 0px;
width: 16px;
height: 16px;    
}
.minion{
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;    
    }
button{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
    top: 480px;
}